/* common_rules */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: auto;
	width: 90%;
	background-color: black;
	font-family: "Catamaran", sans-serif;
}

.container {
	width: 1170px;
	margin: 0 auto;
	padding-top: 4rem;
	position: relative;
	height: 100%;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.logo,
.link,
.sign_in {
	float: left;
	width: 33.33%;
	text-align: center;
}

.text,
.image {
	float: left;
	width: 50%;
}

.image_tool_action,
.text_tool_action {
	padding: 0.5rem 0;
	text-align: center;
}

.primary,
.products,
.company,
.resources,
.standards {
	float: left;
	width: 20%;
}

.logo_footer,
.sign_in_footer {
	display: inline-block;
	width: 49.8%;
}
/* /common_rules */

/* .debug */
.debug header {
	height: 500px;
	background-color: white;
}

.debug main {
	height: 2000px;
	background-color: rgba(207, 40, 40, 0.137);
}

.debug footer {
	height: 500px;
	background-color: rgba(127, 255, 212, 0.151);
}

.debug .logo {
	background-color: rgba(219, 173, 161, 0.363);
	height: 100px;
}

.debug .link {
	background-color: rgba(255, 228, 196, 0.24);
	height: 100px;
}

.debug .sign_in {
	background-color: rgba(221, 170, 213, 0.329);
	height: 100px;
}

.debug .text_primary {
	background-color: rgba(175, 214, 184, 0.24);
	height: 400px;
}

.debug .text {
	background-color: rgba(184, 174, 120, 0.274);
	height: 500px;
}

.debug .image {
	background-color: rgba(156, 109, 113, 0.24);
	height: 500px;
}

.debug .text_tool_action {
	background-color: rgba(245, 238, 238, 0.089);
	height: 100px;
}

.debug .image_tool_action {
	background-color: rgb(162, 162, 243);
	height: 300px;
}

.debug .primary {
	background-color: #e4e4b754;
	height: 80px;
}
.debug .products {
	background-color: rgba(204, 152, 218, 0.39);
	height: 80px;
}

.debug .company {
	background-color: rgba(183, 228, 146, 0.37);
	height: 80px;
}

.debug .resources {
	background-color: rgba(224, 140, 165, 0.329);
	height: 80px;
}

.debug .standards {
	background-color: rgba(154, 235, 228, 0.342);
	height: 80px;
}

.debug .logo_footer {
	background-color: rgba(219, 173, 161, 0.363);
	height: 50px;
}

.debug .sign_in_footer {
	background-color: rgba(221, 170, 213, 0.329);
	height: 50px;
}
/* /.debug */

/* #header */
#site_header {
	width: 100%;
	height: 430px;
	background-image: url("./image/jumbo.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-top: 1rem;
	position: relative;
}

.logo > button {
	cursor: pointer;
	background-color: transparent;
	border: none;
}

/* .link */
.list_style {
	list-style: none;
}

.list_style > li {
	display: inline-block;
}

.link > ul > li > a {
	color: white;
	font-size: 0.9rem;
	padding-right: 1.5rem;
	text-decoration: none;
}

li:hover {
	text-decoration: underline;
	color: white;
}
/* /.link */

/* .sign_in */
.sign_in > button {
	padding: 8px 10px;
	text-align: center;
	text-decoration: none;
	font-size: 12px;
	cursor: pointer;
	border: 1px solid black;
	border-radius: 20px;
}

.sign_in > button:hover {
	box-shadow: 5px 5px 5px #0000003f;
	color: #151ed8;
}
/* /.sign_in */

/* .text_primary */
.text_primary {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	text-align: center;
	padding: 2rem 0;
}

.text_primary > h1 {
	font-size: 50px;
	font-weight: 900;
}

.text_primary > p {
	padding-bottom: 1rem;
}

#button_mac {
	margin-right: 0.5rem;
	padding: 12px 25px;
	border: 1px solid black;
	border-radius: 20px;
	text-align: center;
	font-size: 14px;
	cursor: pointer;
}

#button_mac:hover {
	box-shadow: 5px 5px 5px #0000003f;
	color: #151ed8;
}

#button_discord_browser {
	margin-left: 0.5rem;
	padding: 12px 25px;
	background-color: rgba(0, 0, 0, 0.733);
	color: white;
	border: 1px solid black;
	border-radius: 20px;
	text-align: center;
	font-size: 14px;
	cursor: pointer;
}

#button_discord_browser:hover {
	background: rgba(128, 128, 128, 0.384);
}
/* /.text_primary */
/* /#header */

/* #site_main */
#site_main {
	width: 100%;
}

/* .chat */
.chat {
	height: 500px;
	width: 100%;
	background-color: white;
}

/* .image */
.chat,
.image {
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	padding: 0;
}

.chat img {
	width: 100%;
}
/* /.image */

/* .text */
.chat .text {
	text-align: left;
	font-size: 20px;
	font-weight: 900;
	padding-left: 6.5rem;
}
/* /.text */
/* /.chat */

/* .voice_connected */
.voice_connected {
	height: 500px;
	width: 100%;
	background-color: white;
}

/* .text */
.voice_connected .text {
	text-align: left;
	font-size: 20px;
	font-weight: 900;
	padding-right: 6.5rem;
}
/* /.text */

/* .image */
.voice_connected .image {
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	padding: 0;
}

.voice_connected img {
	width: 100%;
}
/* /.image */
/* /.voice_connected */

/* .fandom */
.fandom {
	height: 500px;
	width: 100%;
	background-color: white;
}

/* .image */
.fandom .image {
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	padding: 0;
}

.fandom img {
	width: 100%;
}
/* /.image */

/* .text */
.fandom,
.text {
	text-align: left;
	font-size: 20px;
	font-weight: 900;
	padding-left: 6.5rem;
}
/* /.text */
/* /.fandom */

/* .tool_action */
.tool_action {
	width: 100%;
	height: 1200px;
	background-color: white;
}

/* .text_tool_action_on */
.text_tool_action_on > h2 {
	font-size: 45px;
	font-weight: 900;
	text-align: center;
}

.text_tool_action_on > p {
	font-size: 20px;
	font-weight: 900;
	text-align: center;
}
/* /.text_tool_action_on */

/* .image_tool_action */
.image_tool_action {
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	padding: 0;
}

.tool_action img {
	width: 100%;
}
/* .image_tool_action */

/* .text_tool_action_down */
.text_tool_action_down > h3 {
	font-size: 30px;
	font-weight: 900;
	text-align: center;
}

.text_tool_action_down > #button_mac {
	background-color: #8ea1e1;
	color: white;
	margin-top: 2rem;
	position: relative;
	left: 40%;
	bottom: 0%;
}

.text_tool_action_down > #button_mac:hover {
	background: rgba(128, 128, 128, 0.384);
}
/* /.text_tool_action_down */
/* /.tool_action */
/* /#site_main */
