/* common_rules */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: auto;
	width: 90%;
	background-color: black;
	font-family: "Catamaran", sans-serif;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.logo,
.link,
.sign_in {
	float: left;
	width: 33.33%;
}

.text,
.image {
	float: left;
	width: 50%;
}

.image_tool_action,
.text_tool_action {
	padding: 0.5rem 0;
	text-align: center;
}

.primary,
.products,
.company,
.resources,
.standards {
	float: left;
	width: 20%;
}

.logo_footer,
.sign_in_footer {
	display: inline-block;
	width: 49.8%;
}
/* /common_rules */

/* .debug */
.debug header {
	height: 500px;
	background-color: rgba(255, 0, 0, 0.404);
}

.debug main {
	height: 2000px;
	background-color: rgba(207, 40, 40, 0.137);
}

.debug footer {
	height: 500px;
	background-color: rgba(127, 255, 212, 0.151);
}

.debug .section_nav {
	background-color: rgb(255, 255, 0);
	height: 100px;
}

.debug .logo {
	background-color: rgba(219, 173, 161, 0.363);
	height: 100px;
}

.debug .link {
	background-color: rgba(255, 228, 196, 0.24);
	height: 100px;
}

.debug .sign_in {
	background-color: rgba(221, 170, 213, 0.329);
	height: 100px;
}

.debug .center_image {
	background-color: rgba(137, 43, 226, 0.192);
	height: 400px;
}

.debug .text_primary {
	background-color: rgba(175, 214, 184, 0.24);
	height: 200px;
}

.debug .text {
	background-color: rgba(184, 174, 120, 0.274);
	height: 500px;
}

.debug .image {
	background-color: rgba(156, 109, 113, 0.24);
	height: 500px;
}

.debug .text_tool_action {
	background-color: rgba(245, 238, 238, 0.089);
	height: 100px;
}

.debug .image_tool_action {
	background-color: rgb(162, 162, 243);
	height: 300px;
}

.debug .primary {
	background-color: #e4e4b754;
	height: 80px;
}
.debug .products {
	background-color: rgba(204, 152, 218, 0.39);
	height: 80px;
}

.debug .company {
	background-color: rgba(183, 228, 146, 0.37);
	height: 80px;
}

.debug .resources {
	background-color: rgba(224, 140, 165, 0.329);
	height: 80px;
}

.debug .standards {
	background-color: rgba(154, 235, 228, 0.342);
	height: 80px;
}

.debug .logo_footer {
	background-color: rgba(219, 173, 161, 0.363);
	height: 50px;
}

.debug .sign_in_footer {
	background-color: rgba(221, 170, 213, 0.329);
	height: 50px;
}
/* /.debug */

/* #header */
.center_image {
	position: relative;
}

.text_primary {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
/* /#header */
